.customer {
  display: block;
  border: 2px solid black;
  margin: 1rem;
  background-color: #db8421ca;
  color: rgb(0, 0, 0);
  border-radius: 7px;
  width: max-content;
  max-width: 18rem;
  max-height: 17rem;
  justify-content: center;
}

.customer button {
  width: 12rem;
  height: 3rem;
  position:relative;
  background-color: rgba(255, 255, 255, 0.452);
  border-color: #000000;
  margin: 1.5rem;
  justify-content: center;
}

.customer-card {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  border: 2px solid black;
  margin: 1rem;
  padding: 12px;
  background-color: #4e4c49;
  color: rgb(0, 0, 0);
  border-radius: 7px;
  height: max-content;
  max-width: 20rem;
  max-height: 32rem;
}

.customer-card .action-button {
  display: grid;
  justify-content: center;
  width: 7rem;
  height: 3rem;
  margin: 10px;
}

.customer-card .actions-div {
  display:inline-flex;
  justify-content: center;
}